<div class="container-fluid d-flex justify-content-center p-10">
    <div class="d-flex flex-column container-fluid p-10">
        <!--TITRE-->
        <div class="bd-highlight d-flex justify-content-center">
            <h1>TACHES</h1>
            <button class="btn btn-outline-secondary m-1" (click)='loggout()'>Logout</button>
        </div>

        <!--TITRE-->
        <div class="bd-highlight d-flex justify-content-center">
            <input id="ajoutListe" class="saisieListe w-100" type="text" name="liste" placeholder="Liste" [(ngModel)]="titreListe">
            <button id="buttonAjoutListe" (click)="ajouterListe()" class="btn btn-primary" value="Ajouter">Ajouter</button>
        </div>

        <div cdkDropListGroup class="d-flex flex-row justify-content-between align-items-start">
            <!--COLONNES-->
            <div *ngFor="let liste of startListe" class="container">
                <!--titre/boutton suppr-->
                <div class="titre d-flex flex-column justify-content-center col m-2">
                    <h2>{{liste.titreListe}}</h2>
                    <button class="btn btn-outline-danger" (click)='supprimerListe(liste)'>Supprimer</button>
                </div>
                <!--champ pour ajouter tache-->
                <div class="d-flex flex-row justify-content-center m-1">
                    <input id="inputAjoutTache" class="saisieInput w-100" type="text" name="tache" placeholder="tache" [(ngModel)]="liste.titreTache">
                    <button id="buttonAjoutTache" (click)="ajouterTache(liste)" class="btn btn-primary" value="Ajouter">Ajouter</button>
                </div>
                <!--affichage des taches/leurs états/boutton pour suppr-->
                <div class="liste " cdkDropList [cdkDropListData]="liste.taches" (cdkDropListDropped)="drop($event)">
                    <div cdkDrag [cdkDragData]="tache" *ngFor="let tache of liste.taches" class="tachesBox">
                        <div [ngClass]="tache.termine? 'text-decoration-line-through' : '' ">{{tache.titre}}</div>
                        <input type="checkbox" (click)="modifier(tache)" [(ngModel)]="tache.termine">
                        <button class="btn btn-outline-danger" (click)='supprimerTache(liste, tache)'>Supprimer</button><!--prend la liste en question et la tache en parm-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>